@page "/colaborador"

@using BlazorServer.Service
@using BlazorServer.Data
@using System.ComponentModel.DataAnnotations
@using System.IO
@using System.Net.Http.Headers

@inherits OwningComponentBase<ColaboradorService>


<div class="container">
    <RadzenTemplateForm Data="@colaborador" Submit="@((Data.Colaborador args) => { Submit(args); })">
     <div class="row">
            <div class="col-md-6">
               <RadzenFieldset Text="Cadastro">
                   <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Código Relogio" />
                        </div>
                        <div class="col-md-4">
                            <RadzenNumeric style="width: 100%;" Name="CodPonto" @bind-Value="colaborador.CodPonto" />
                        </div>
                        <div class="col-md-4">
                            <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="edit" Text="Alterar" Click="@Cancel" /> @*style="width: 100%;display: inline-block; margin-left: 10px;"*@
                        </div>
                    </div> 

                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Nome" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox style="width: 100%;" Name="Nome" @bind-Value="colaborador.Nome" />
                        </div>
                    </div> 


                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="CPF" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox style="width: 100%;" Name="Cpf" @bind-Value="colaborador.Cpf" />
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Cargo" />
                        </div>
                        <div class="col-md-8">
                            <RadzenDropDown @bind-Value="colaborador.CargoId" AllowClear="true" Placeholder="Selecione um cargo" Data="@cargos" style="width: 100%;" TextProperty="NomeCargo" ValueProperty="Id" Name="CargoId">
                            </RadzenDropDown>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Admissão" />
                        </div>
                        <div class="col-md-8">
                            <RadzenDatePicker style="width: 100%;" Name="Contratacao" @bind-Value="colaborador.Contratacao" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Salário" />
                        </div>
                        <div class="col-md-8">
                            <RadzenNumeric style="width: 100%;" Name="Salario" @bind-Value="colaborador.Salario"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Hora Aula" />
                        </div>
                        <div class="col-md-8">
                            <RadzenNumeric style="width: 100%;" Name="HoraAula" @bind-Value="colaborador.HoraAula"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Demissão" />
                        </div>
                        <div class="col-md-8">
                            <RadzenDatePicker style="width: 100%;" Name="Demissao" @bind-Value="colaborador.Demissao" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Ativo?" />
                        </div>
                        <div class="col-md-8">
                            <RadzenCheckBox @bind-Value=@colaborador.Ativo  Name="Ativo" TValue="bool" />
                        </div>
                    </div>
                    
                </RadzenFieldset>
              </div>
              <div class="col-md-6">
                <RadzenFieldset Text="Informação de Contato">
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Email" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox style="width: 100%;" Name="Email" @bind-Value="colaborador.Email" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Telefone" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox style="width: 100%;" Name="Telefone"  @bind-Value="colaborador.Telefone"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Endereço" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox style="width: 100%;" Name="Endereco" @bind-Value="colaborador.Endereco" />
                        </div>
                    </div>

                    <div class=row>
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Numero" />
                        </div>
                        <div class="col-md-8">
                            <RadzenNumeric Placeholder="123" style="width: 100%;" Name="Numero" @bind-Value="colaborador.Numero" />
                        </div>
                    </div>
                    <div class=row>
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Bairro" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox style="width: 100%;" Name="Bairro" @bind-Value="colaborador.Bairro"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Cidade" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox style="width: 100%;" Name="Cidade" @bind-Value="colaborador.Cidade"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Estado" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox style="width: 100%;" Name="UF" @bind-Value="colaborador.Estado" />
                        </div>
                    </div>
                </RadzenFieldset>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Salvar" />
                <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="cancel" style="display: inline-block; margin-left: 10px;" Text="Cancelar" Click="@Cancel" />
            </div>
        </div>
    </RadzenTemplateForm>
</div>



@code {

    Data.Colaborador colaborador;

    IEnumerable<Data.Cargo> cargos;

    [Parameter]
    public Guid ColaboradorID { get; set; }

    [Parameter]
    public Service.ColaboradorService colaboradorService { get; set; }


    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (colaboradorService ==null)
        {
            colaboradorService = new ColaboradorService();
        }
        if (ColaboradorID != Guid.Empty)
        {
            colaborador = colaboradorService.Colaboradores.Where(i => i.Id == ColaboradorID).FirstOrDefault();
            if (colaborador == null)
            {
                colaborador = new Data.Colaborador();
            }
        }
        else
        {
            colaborador = new Data.Colaborador();
        }
    }


    void Submit(Data.Colaborador args)
    {
        colaboradorService.UpdateRecord(args);
    }

    void Cancel()
    {
        
    }



}
