@page "/colaborador/{ColaboradorID}"

@using BlazorServer.Service
@using BlazorServer.Data
@using System.ComponentModel.DataAnnotations
@using System.IO
@using System.Net.Http.Headers

@inject DialogService DialogService
@implements IDisposable
@inherits OwningComponentBase



    <dialog></dialog>

<div class="container">
    <RadzenTemplateForm Data="@colaborador" Submit="@((Data.Colaborador args) => { Submit(args); })">
     <div class="row">
            <div class="col-md-6">
               <RadzenFieldset Text="Cadastro">
                   <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Código Relogio" />
                        </div>
                        <div class="col-md-4">
                            <RadzenNumeric style="width: 100%;" Name="CodPonto" @bind-Value="colaborador.CodPonto" Disabled="@editCodigo" />
                        </div>
                        <div class="col-md-4">
                            <RadzenButton Text="aaaa" ButtonStyle="ButtonStyle.Light" Icon="edit" Click="@AlteraCodigo" />
                            @*<RadzenButton  Text="alter" Click="@AlteraCodigo" @onclick="AlteraCodigo" /> *@
                        </div>
                    </div> 

                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Nome" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox style="width: 100%;" Name="Nome" @bind-Value="colaborador.Nome" />
                        </div>
                    </div> 


                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="CPF" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox style="width: 100%;" Name="Cpf" @bind-Value="colaborador.Cpf" />
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Cargo" />
                        </div>
                        <div class="col-md-8">
                            <RadzenDropDown TValue="System.Guid" SelectedItem="@cargos"  Name="Cargo" Data=@cargos Change=@(args=>OnChange(args, "DropDown")) TextProperty="NomeCargo" ValueProperty="CargoId" AllowClear="true" Placeholder="Selecione um cargo"  style="width: 100%;" />
                                <RadzenDropDown TValue="Data.Cargo" SelectedItem="@cargos" @bind-Value="colaborador.Cargo" Name="Cargo2" TextProperty="NomeCargo" ValueProperty="CargoId" AllowClear="true" Placeholder="Selecione um cargo"  style="width: 100%;" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Admissão" />
                        </div>
                        <div class="col-md-8">
                            <RadzenDatePicker style="width: 100%;" Name="Contratacao" @bind-Value="colaborador.Contratacao" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Salário" />
                        </div>
                        <div class="col-md-8">
                            <RadzenNumeric style="width: 100%;" Name="Salario" @bind-Value="colaborador.Salario"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Hora Aula" />
                        </div>
                        <div class="col-md-8">
                            <RadzenNumeric style="width: 100%;" Name="HoraAula" @bind-Value="colaborador.HoraAula"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Demissão" />
                        </div>
                        <div class="col-md-8">
                            <RadzenDatePicker style="width: 100%;" Name="Demissao" @bind-Value="colaborador.Demissao" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Ativo?" />
                        </div>
                        <div class="col-md-8">
                            <RadzenCheckBox @bind-Value=@colaborador.Ativo  Name="Ativo" TValue="bool" />
                        </div>
                    </div>
                    
                </RadzenFieldset>
              </div>
              <div class="col-md-6">
                <RadzenFieldset Text="Informação de Contato">
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Email" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox style="width: 100%;" Name="Email" @bind-Value="colaborador.Email" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Telefone" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox style="width: 100%;" Name="Telefone"  @bind-Value="colaborador.Telefone"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Endereço" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox style="width: 100%;" Name="Endereco" @bind-Value="colaborador.Endereco" />
                        </div>
                    </div>

                    <div class=row>
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Numero" />
                        </div>
                        <div class="col-md-8">
                            <RadzenNumeric Placeholder="123" style="width: 100%;" Name="Numero" @bind-Value="colaborador.Numero" />
                        </div>
                    </div>
                    <div class=row>
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Bairro" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox style="width: 100%;" Name="Bairro" @bind-Value="colaborador.Bairro"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Cidade" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox style="width: 100%;" Name="Cidade" @bind-Value="colaborador.Cidade"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Estado" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox style="width: 100%;" Name="UF" @bind-Value="colaborador.Estado" />
                        </div>
                    </div>
                </RadzenFieldset>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Salvar"  /> @*Click="@((args) => DialogService.Close(true))"*@
                <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="cancel" style="display: inline-block; margin-left: 10px;" Text="Fechar" Click="@Cancel" />
            </div>
        </div>
    </RadzenTemplateForm>
</div>



@code {

    bool editCodigo;

    Data.Colaborador colaborador;

    IEnumerable<Data.Cargo> cargos;
    
    Service.ColaboradorService _colaboradorService;
    Service.CargoService _cargoService;

    

    [Parameter]
    public Guid ColaboradorID { get; set; }


    protected override async void OnInitialized()
    {
        base.OnInitialized();
        DialogService.OnOpen += Open;
        DialogService.OnClose += Close;
        editCodigo = true;

        if (_colaboradorService ==null)
        {
            _colaboradorService = (ColaboradorService)ScopedServices.GetService(typeof(ColaboradorService));
            _cargoService = (CargoService)ScopedServices.GetService(typeof(CargoService));
            cargos = await _cargoService.GetAllRecords();
        }
        if (ColaboradorID != Guid.Empty)
        {
            colaborador = await _colaboradorService.GetColaboradorById(ColaboradorID);
            if (colaborador == null)
            {
                colaborador = new Data.Colaborador();
            }
        }
        else
        {
            colaborador = new Data.Colaborador();
        }
    }

    void Open(string title, Type type, Dictionary<string, object> parameters, DialogOptions options)
    {
        
    }

    async void Close(dynamic result)
    {
        //if (result)
        //{
        //    var dialog = DialogService.Confirm("Deseja salvar as alterações ?", "Salvar alterações", new ConfirmOptions() { OkButtonText = "Sim", CancelButtonText = "Não" });
        //    dialog.Wait();
        //    bool isValid = dialog.Result.Value;
        //    if (isValid)
        //    {
        //        Service.UpdateRecord(colaborador);
        //        await DialogService.Confirm("Registro salvo/atualizado", "Salvar", new ConfirmOptions() { OkButtonText = "ok"});
        //    }
        //}
    }

    void OnChange(object value, string name)
    {
        if(name=="DropDown")
        {
            colaborador.Cargo = cargos.Single(i => i.CargoId.Equals(value));
        }
        
        //var str = value is IEnumerable<object> ? string.Join(", ", (IEnumerable<object>)value) : value;
    }

    async void AlteraCodigo()
    {
        var ok = await DialogService.Confirm("Deseja realmente Alterar o código?", "Alterar", new ConfirmOptions() { OkButtonText = "Sim", CancelButtonText = "Não" });
        editCodigo = !Convert.ToBoolean(ok);
    }


    async void Submit(Data.Colaborador args)
    {
        var dialog = await DialogService.Confirm("Deseja salvar as alterações ?", "Salvar alterações", new ConfirmOptions() { OkButtonText = "Sim", CancelButtonText = "Não" });
        
        bool isValid = Convert.ToBoolean(dialog);

        if (isValid)
        {
            _colaboradorService.UpdateRecord(args);
        }
    }

    void Cancel()
    {
        
    }

    public void Dispose()
    {
        DialogService.OnOpen -= Open;
        DialogService.OnClose -= Close;
    }



}
