@page "/"

@inherits OwningComponentBase
@using System.Linq
@using Microsoft.EntityFrameworkCore
@using System.Configuration

@inject IJSRuntime JSRuntime


<div class="container">
    <br />
    <div class="row">
        <div class="col-sm">
            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">Top's 5 Colaboradores </MudText>
                    </CardHeaderContent>
@*                    <CardHeaderActions>
                        <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
                    </CardHeaderActions>*@
                </MudCardHeader>
                <MudCardContent>
                    <MudTable Items="@ListaTop5Colaboradores" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_loading" LoadingProgressColor="Color.Info">
                        <HeaderContent>
                            <MudTh>Nº</MudTh>
                            <MudTh>Nome</MudTh>
                            <MudTh>Total</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="Nº">@context.Posicao</MudTd>
                            <MudTd DataLabel="Nomr">@context.Nome</MudTd>
                            <MudTd DataLabel="TotalHoras">@context.TotalHorasFormatada</MudTd>
                        </RowTemplate>
                    </MudTable>
@*                    <MudText>This day everything happend.</MudText>
                    <MudText Typo="Typo.body2">The quick, brown fox jumps over a lazy dog.</MudText>*@
                </MudCardContent>
@*                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Read More</MudButton>
                </MudCardActions>*@
            </MudCard>
        </div>
        <div class="col-sm">
            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">The Story Book</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardContent>
                    <MudText>This day everything happend.</MudText>
                    <MudText Typo="Typo.body2">The quick, brown fox jumps over a lazy dog.</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Read More</MudButton>
                </MudCardActions>
            </MudCard>
        </div>
        <div class="col-sm">
            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">The Story Book</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardContent>
                    <MudText>This day everything happend.</MudText>
                    <MudText Typo="Typo.body2">The quick, brown fox jumps over a lazy dog.</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Read More</MudButton>
                </MudCardActions>
            </MudCard>
        </div>
    </div>
    <div class="row"></div>
    <div class="row"></div>
</div>

@code 
{
    bool _loading;
    List<TopsDashBoard> ListaTop5Colaboradores;
    Dictionary<int, Data.Colaborador> colaboradoresTop5;

    Service.ColaboradorService _serviceColaborador;
    Service.RegistroPontoService _serviceRegistroPonto;

    protected override void OnInitialized()
    {
        _serviceColaborador = (ColaboradorService)ScopedServices.GetService(typeof(ColaboradorService));
        _serviceRegistroPonto = (RegistroPontoService)ScopedServices.GetService(typeof(RegistroPontoService));
        LoadDados();
    }

    void LoadDados()
    {
        _loading = true;
        //var x = _serviceRegistroPonto.RegistroPontos.Join(_serviceColaborador.Colaboradores, r=>r.Colaborador, c=>c.Id, (x,y) => x= )
        //            .GroupBy(a => a.Colaborador)
        //            .OrderByDescending(a => a.Sum(a => a.AM_ENT.Ticks)).Select(x=> new { total=x.Sum(a=>a.ValorHora) });

        //foreach (var item in x)
        //{
        //    JSRuntime.InvokeVoidAsync("console.log", "1", item.total);
        //}

        //var quer = from ponto in _serviceRegistroPonto.RegistroPontos.ToList()
        //           join colab in _serviceColaborador.Colaboradores.ToList() on ponto.Colaborador equals colab
        //           orderby colab.Nome
        //           group ponto by colab.Nome into re
        //           select new
        //           {
        //               Nome = re.Key,
        //               Total = re.Sum(a=>a.ValorHora)
        //            };
                    
              
        // quer = from ponto in _serviceRegistroPonto.RegistroPontos.ToList()
        //           join colab in _serviceColaborador.Colaboradores.ToList() on ponto.Colaborador equals colab
        //           orderby colab.Nome
        //           group ponto by colab.Nome into re
        //           select new
        //           {
        //               Nome = re.Select(a=>a.Colaborador.Nome).FirstOrDefault(),
        //               Total = re.Sum(a=>a.ValorHora)
        //            };

        var quer3 = from ponto in _serviceRegistroPonto.RegistroPontos.ToList()
                    join colab in _serviceColaborador.Colaboradores.ToList() on ponto.Colaborador equals colab
                    orderby colab.Nome
                    group ponto by colab.Nome into re
                    select re;

        Dictionary<string, TimeSpan> Lista = new Dictionary<string, TimeSpan>();


        foreach (var item in quer3)
        {
            string nome = "";
            long tempo=0;
            nome = item.Key;
            foreach (var h in item)
            {
                tempo += h.TotalHorasDia.Ticks;
            }
            Lista.Add(nome, new TimeSpan(tempo));
        }

        var listaOrdenada =  Lista.OrderByDescending(a => a.Value).Take(5);

        ListaTop5Colaboradores = new List<TopsDashBoard>();

        int i = 1;
        foreach (var item in listaOrdenada)
        {
            ListaTop5Colaboradores.Add(new TopsDashBoard { Posicao = i, Nome = item.Key, TotalHoras = item.Value });
            i++;
        }

        DateTime data1 = Convert.ToDateTime("01/08/2021");
        DateTime data2 = Convert.ToDateTime("30/08/2021");

        var colaborador1 = _serviceColaborador.Colaboradores.Where(a => a.Nome.Contains("Alan")).FirstOrDefault();

        var select = _serviceRegistroPonto.RegistroPontos.Where(r => r.Colaborador == colaborador1).ToList();

        select = select.Where(a => a.Data >= data1 && a.Data <= data2).ToList();

        int count = select.Count();

        var somaHoras = select.Sum(r=>r.TotalHorasDia.Ticks);
        
        JSRuntime.InvokeVoidAsync("console.log", "Valor", new TimeSpan(somaHoras));

        //var query = from colab in _serviceColaborador.Colaboradores
        //           select new
        //           {
        //               Nome = colab.Nome,
        //               Total = (from h in _serviceRegistroPonto.RegistroPontos.ToList() select h.AM_ENT.Ticks).Sum()
        //           };
        //foreach (var item in query)
        //{
        //    JSRuntime.InvokeVoidAsync("console.log", "item", item);
        //}
        //var query = from colab in _serviceColaborador.Colaboradores
        //select new
        //{
        //    Nome = colab.Nome,
        //    Total = (_serviceRegistroPonto.RegistroPontos.Where(a=>a.Colaborador == colab).Sum(a => a.ValorHora))
        //};

        var query = from colab in _serviceColaborador.Colaboradores.ToList()
        select new
        {
            Nome = colab.Nome,
            Total = _serviceRegistroPonto.RegistroPontos.Where(r => r.Colaborador == colab).Sum(a=>a.ValorHora)
        };

        var query2 = query.OrderByDescending(a => a.Total).Take(5);

        foreach (var item in query2)
        {
            JSRuntime.InvokeVoidAsync("console.log", "item", item);
        }

        //where ponto.Data>=DateTime.Parse("01/01/2021") && ponto.Data<=DateTime.Parse("30/01/2021")
        //select ponto;
        //var qq = _serviceRegistroPonto.RegistroPontos.Where(p => p.Data >= DateTime.Parse("01/01/2021") && p.Data <= DateTime.Parse("30/01/2021"))
        //                                            .GroupBy(c => c.Colaborador);
        //foreach (var item in qq)
        //{
        //    JSRuntime.InvokeVoidAsync("console.log", "item", item);
        //}                        
        //var query = from r in _serviceRegistroPonto.RegistroPontos 
        //            from c in _serviceColaborador.Colaboradores 
        //            group r by r.Colaborador into ponto 
        //            select new
        //            {
        //                Id = ponto.Key,
        //                TotalHoras = new TimeSpan( ponto.Sum(a=>a.TotalHorasDia.Ticks))
        //            };
        //foreach (var item in query)
        //{
        //    JSRuntime.InvokeVoidAsync("console.log", "item", item);
        //}

        _loading = false;
    }
}
