@page "/gerenciaColaborador/{ColaboradorID}"

@inherits OwningComponentBase
@*@inject Data*@

<div class="container">
    <br />
    <div>
        <RadzenTemplateForm Data="@colaborador" Submit="@((Data.Colaborador args) => { Submit(); })">
     <div class="row">
            <div class="col-md-6">
               <RadzenFieldset Text="Cadastro">
                   <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Código Relogio" />
                        </div>
                        <div class="col-md-4">
                            <RadzenNumeric style="width: 100%;" Name="CodPonto" @bind-Value="colaborador.CodPonto" Disabled="@editCodigo" />
                        </div>
                        <div class="col-md-4">
                            <RadzenButton Text="" ButtonStyle="ButtonStyle.Light" Icon="edit" Click="@Submit" />
                            @*<RadzenButton  Text="alter" Click="@AlteraCodigo" @onclick="AlteraCodigo" /> *@
                        </div>
                    </div> 

                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Nome" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox style="width: 100%;" Name="Nome" @bind-Value="colaborador.Nome" />
                        </div>
                    </div> 


                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="CPF" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox style="width: 100%;" Name="Cpf" @bind-Value="colaborador.Cpf" />
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Cargo" />
                        </div>
                        <div class="col-md-8">
                            <RadzenDropDown @bind-Value="colaborador.Cargo" TValue="Data.Cargo" SelectedItem="@cargos"  Name="Cargo" Data=@cargos Change=@(args=>OnChange(args, "DropDown")) 
                                TextProperty="NomeCargo" ValueProperty="Cargo" AllowClear="true" Placeholder="Selecione um cargo"  style="width: 100%;" />
                                @*<RadzenDropDown TValue="Data.Cargo" SelectedItem="@cargos" @bind-Value="colaborador.Cargo" Name="Cargo2" TextProperty="NomeCargo" ValueProperty="CargoId" AllowClear="true" Placeholder="Selecione um cargo"  style="width: 100%;" />*@
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Admissão" />
                        </div>
                        <div class="col-md-8">
                            <RadzenDatePicker style="width: 100%;" Name="Contratacao" @bind-Value="colaborador.Contratacao" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Salário" />
                        </div>
                        <div class="col-md-8">
                            <RadzenNumeric style="width: 100%;" Name="Salario" @bind-Value="colaborador.Salario"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Hora Aula" />
                        </div>
                        <div class="col-md-8">
                            <RadzenNumeric style="width: 100%;" Name="HoraAula" @bind-Value="colaborador.HoraAula"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Demissão" />
                        </div>
                        <div class="col-md-8">
                            <RadzenDatePicker style="width: 100%;" Name="Demissao" @bind-Value="colaborador.Demissao" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Ativo?" />
                        </div>
                        <div class="col-md-8">
                            <RadzenCheckBox @bind-Value=@colaborador.Ativo  Name="Ativo" TValue="bool" />
                        </div>
                    </div>
                    
                </RadzenFieldset>
              </div>
              <div class="col-md-6">
                <RadzenFieldset Text="Informação de Contato">
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Email" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox style="width: 100%;" Name="Email" @bind-Value="colaborador.Email" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Telefone" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox style="width: 100%;" Name="Telefone"  @bind-Value="colaborador.Telefone"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Endereço" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox style="width: 100%;" Name="Endereco" @bind-Value="colaborador.Endereco" />
                        </div>
                    </div>

                    <div class=row>
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Numero" />
                        </div>
                        <div class="col-md-8">
                            <RadzenNumeric Placeholder="123" style="width: 100%;" Name="Numero" @bind-Value="colaborador.Numero" />
                        </div>
                    </div>
                    <div class=row>
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Bairro" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox style="width: 100%;" Name="Bairro" @bind-Value="colaborador.Bairro"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Cidade" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox style="width: 100%;" Name="Cidade" @bind-Value="colaborador.Cidade"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Estado" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox style="width: 100%;" Name="UF" @bind-Value="colaborador.Estado" />
                        </div>
                    </div>
                </RadzenFieldset>
            </div>
        </div>
    </RadzenTemplateForm>
    </div>
 <br />
    <div class="row">
                    <RadzenDataGrid  IsLoading=@isLoading Count=@count Data="@listPontos" TItem="Data.RegistroPonto" FilterMode="FilterMode.Advanced" 
                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowSorting="true" AllowFiltering="true" AllowPaging="true" PageSize="30" AllowColumnResize="true" Style="border-radius: 6px;">
                        <Columns>
                            <RadzenDataGridColumn TItem="Data.RegistroPonto" Property="Colaborador.CodPonto" Title="Cod" Frozen="true" Width="35px"/>
                            <RadzenDataGridColumn TItem="Data.RegistroPonto" Property="Colaborador.Nome" Title="Nome Completo" Width="220px"/>
                            <RadzenDataGridColumn TItem="Data.RegistroPonto" Property="DiaSemanaPtBr" Title="Dia semana" Width="80px"/>
                            <RadzenDataGridColumn TItem="Data.RegistroPonto" Property="Data" Title="Data" Width="60px" FormatString="{0:dd/MM/yyyy}"/>
                            <RadzenDataGridColumn TItem="Data.RegistroPonto" Property="AM_ENT" Title="AM_ENT" FormatString="{0:HH:mm}"   Width="50px"/>
                            <RadzenDataGridColumn TItem="Data.RegistroPonto" Property="AM_SAI" Title="AM_SAI" FormatString="{0:HH:mm}"   Width="50px"/>
                            <RadzenDataGridColumn TItem="Data.RegistroPonto" Property="PM_ENT" Title="PM_ENT" FormatString="{0:HH:mm}"   Width="50px"/>
                            <RadzenDataGridColumn TItem="Data.RegistroPonto" Property="PM_SAI" Title="PM_SAI" FormatString="{0:HH:mm}"   Width="50px"/>
                            <RadzenDataGridColumn TItem="Data.RegistroPonto" Property="NOI_ENT" Title="NOI_ENT" FormatString="{0:HH:mm}"  Width="50px"/>
                            <RadzenDataGridColumn TItem="Data.RegistroPonto" Property="NOI_SAI" Title="NOI_SAI" FormatString="{0:HH:mm}"  Width="50px"/>
                            <RadzenDataGridColumn TItem="Data.RegistroPonto" Property="TotalHorasDia" Title="Total Horas Dia"  Width="50px"/> 
                        </Columns>
                    </RadzenDataGrid>
    </div>
</div>




@code {

    [Parameter]
    public string ColaboradorID { get; set; }

    private Guid guidColaboradorId;

    Data.Colaborador colaborador{ get; set; }

    List<Data.Cargo> cargos { get; set; }

    IEnumerable<Data.RegistroPonto> listPontos { get; set; }

    Service.ColaboradorService _colaboradorService;
    Service.CargoService _cargoService;
    Service.RegistroPontoService _registroPontoService;

    IEnumerable<Data.Colaborador> _colaboradores;

    bool editCodigo;
    int count;
    bool isLoading;

    protected override void OnInitialized()
    {
        isLoading = true;
        guidColaboradorId = Guid.Parse(ColaboradorID);
        _colaboradorService = (ColaboradorService)ScopedServices.GetService(typeof(ColaboradorService));
        _cargoService = (CargoService)ScopedServices.GetService(typeof(CargoService));
        _registroPontoService = (RegistroPontoService)ScopedServices.GetService(typeof(RegistroPontoService));
        cargos = _cargoService.GetAllRecords().Result;

        if (guidColaboradorId!= Guid.Empty)
        {
            colaborador = _colaboradorService.GetColaboradorById(guidColaboradorId).Result;
            listPontos = _registroPontoService.GetRegistroPontoByColaborador(colaborador).Result;
        }
        isLoading = false;
    }

    void Submit()
    { }

    void OnChange(object value, string name)
    {
        if(name=="DropDown")
        {
            Data.Cargo c = (Data.Cargo)value;
            colaborador.Cargo = c; // cargos.FirstOrDefault(i => i.Id == c.Id);;
        }
    }
}