@page "/registroPonto"
@using System
@using BlazorServer.Data
@using System.Globalization
@using System.Timers
@using System.Linq.Dynamic.Core
@using MudBlazor
@using MudBlazor.Components

@inject IJSRuntime JSRuntime

@inject MudBlazor.DialogService DialogService
@inject IDialogService MudDialogService
@inject Radzen.DialogService DialogServiceRad


@inherits OwningComponentBase

<div class="container">
    <p></p>
    <div Class="row border-dark">
        <div class="col-auto mr-auto">
                <InputFile id="fileInput112" OnChange="ProcessaFile" hidden multiple accept=".txt"/>
                <MudButton HtmlTag="label" 
                           Variant="Variant.Filled" 
                           Color="Color.Primary" 
                           StartIcon="@Icons.Filled.CloudUpload" 
                           for="fileInput112">
                           Upload do arquivo
                </MudButton>
        </div>
        <div class="col-auto">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Filled.Print" OnClick="Print">
                           Imprimir
                </MudButton>
            @*<button class="btn btn-primary" @onclick="Print">Imprimir</button>*@
        </div>
    </div>
    <br />
    <p></p>

    <div class="PrintDiv" id="PrintDiv">
            <div class="row">
                <div class="col-sm mr-auto"><h5>Total de Horas do periodo: @TotalHorasPeriodo</h5></div>
                <div class="col-sm mr-auto"><h5>Total registros: @Count</h5></div>
            </div>
            <div class="row" >
                <RadzenDataGrid @ref=grid IsLoading=@isLoading Count=@Count Data="@filtroPontosProcessados" TItem="Data.RegistroPonto" LoadData="@(args => LoadData(args))"  
                    RowDoubleClick="@(args=> OpenRegistroPonto(args))" FilterMode="FilterMode.Advanced" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" 
                    AllowSorting="true" AllowFiltering="true" AllowPaging="true" PageSize="30" AllowColumnResize="true" Style="border-radius: 6px;">
                    <Columns>
                        <RadzenDataGridColumn TItem="Data.RegistroPonto" Property="Colaborador.CodPonto" Title="Cod" Frozen="true" Width="35px"/>
                        <RadzenDataGridColumn TItem="Data.RegistroPonto" Property="Colaborador.Nome" Title="Nome Completo" Width="250px"/>
                        <RadzenDataGridColumn TItem="Data.RegistroPonto" Property="DiaSemanaPtBr" Title="Dia semana" Width="80px"/>
                        <RadzenDataGridColumn TItem="Data.RegistroPonto" Property="Data" Title="Data" Width="60px" FormatString="{0:dd/MM/yyyy}"/>
                        <RadzenDataGridColumn TItem="Data.RegistroPonto" Property="AM_ENT" Title="AM_ENT" FormatString="{0:HH:mm}"   Width="50px"/>
                        <RadzenDataGridColumn TItem="Data.RegistroPonto" Property="AM_SAI" Title="AM_SAI" FormatString="{0:HH:mm}"   Width="50px"/>
                        <RadzenDataGridColumn TItem="Data.RegistroPonto" Property="PM_ENT" Title="PM_ENT" FormatString="{0:HH:mm}"   Width="50px"/>
                        <RadzenDataGridColumn TItem="Data.RegistroPonto" Property="PM_SAI" Title="PM_SAI" FormatString="{0:HH:mm}"   Width="50px"/>
                        <RadzenDataGridColumn TItem="Data.RegistroPonto" Property="NOI_ENT" Title="NOI_ENT" FormatString="{0:HH:mm}"  Width="50px"/>
                        <RadzenDataGridColumn TItem="Data.RegistroPonto" Property="NOI_SAI" Title="NOI_SAI" FormatString="{0:HH:mm}"  Width="50px"/>
                        <RadzenDataGridColumn TItem="Data.RegistroPonto" Property="TotalHorasDia" Title="Total Horas Dia"  Width="50px"/> 
                    </Columns>
                </RadzenDataGrid>
            </div>
    </div>
</div>

<MudDialog @bind-IsVisible="@isVisible">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3"/>@tituloDialog
        </MudText>
    </TitleContent>
    <DialogContent>
        <h6>@mensagemDialog</h6>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="FecharDialogModal" Class="px-10">Fechas</MudButton>
    </DialogActions>
</MudDialog>


@code
{
    public bool isVisible;

    string mensagemDialog;
    string tituloDialog;

    public Data.RegistroPonto regPonto = new RegistroPonto();

    RadzenDataGrid<Data.RegistroPonto> grid;

    bool isLoading;

    int Count;

    public bool dialogIsOpen = false;

    CultureInfo Cultura = new CultureInfo("pt-BR");

    public string Nome { get; set; }

    public DateTime? Data { get; set; }

    public Guid idSelectd { get; set; }

    public DateTime Data1 { get; set; }

    public DateTime Data2 { get; set; }

    public DateTime DataMais1 { get => Data2.AddHours(23); }

    string RegoligoSelecionado = "Nacional";

    List<Arquivo> listArquivo = new List<Arquivo>();

    List<string> listAlert = new List<string>();

    List<Data.RegistroRelogio> ListRegPonto = new List<RegistroRelogio>();

    List<Data.RegistroRelogio> filtro = new List<RegistroRelogio>();

    //List<Data.RegistroPonto> filtroPontosProcessados;

    IEnumerable<Data.RegistroPonto> filtroPontosProcessados;

    Service.ColaboradorService cs;

    Service.RegistroPontoService rps;

    LoadDataArgs ultimoFiltro;

    string[] value1ItemsCombo = new[]
        {
        "Nacional",
        "Chines",
    };

    string TotalHorasTrabalhadasNoPeriodo;

    public string TotalHorasPeriodo { get; set; }

    void OpenDialogModal(string titulo, string msg)
    {
        tituloDialog = titulo;
        mensagemDialog = msg;
        isVisible = true;
    } 

    void FecharDialogModal() =>isVisible = false;


    protected override void OnInitialized()
    {
        base.OnInitialized();
        cs = (Service.ColaboradorService)ScopedServices.GetService(typeof(Service.ColaboradorService));
        rps = (Service.RegistroPontoService)ScopedServices.GetService(typeof(Service.RegistroPontoService));
    }

    public static decimal MultiplyPerMinute(TimeSpan a, decimal b)
	{
	    return Math.Round(Convert.ToDecimal(a.TotalHours * (double)b), 2, MidpointRounding.AwayFromZero);
	}

    private void TotalHorasTrabalhadas(TimeSpan totalHorasPeriodo)
	{
		TimeSpan times = new TimeSpan(0, 0, 0, 0);
		times = totalHorasPeriodo;

		TotalHorasPeriodo = string.Format("{0}:{1}:{2}", times.Days > 0 ? ((times.Days * 24) + times.Hours) : times.Hours,
						            times.Minutes < 10 ? ("0" + times.Minutes) : times.Minutes.ToString(),
						            times.Seconds < 10 ? ("0" + times.Seconds) : times.Seconds.ToString());
		//txtValorTotal.Text = string.Format("R$ {0:#.##}", valor.ToString());
    }

    async Task LoadData(LoadDataArgs args)
    {
        ultimoFiltro = args;

        isLoading = true;

        var query = rps.GetAllRegistroPontoList().AsQueryable();

        //filtroPontosProcessados = query.ToList();

        if (args != null)
        {
            if (!string.IsNullOrEmpty(args.Filter))
            {
                query = query.Where(args.Filter);
            }
            if (!string.IsNullOrEmpty(args.OrderBy))
            {
                query = query.OrderBy(args.OrderBy);
            }
            //filtroPontosProcessados = query.Skip(args.Skip.Value).Take(args.Top.Value).ToList();
            filtroPontosProcessados = query.Skip(args.Skip.Value).Take(args.Top.Value).ToList();
            TotalHorasDoPeriodo();

        }
        else
        {
            filtroPontosProcessados = query.ToList();
            TotalHorasDoPeriodo();
        }
        Count = filtroPontosProcessados.Count();
        isLoading = false;
    }

    async void ResetGrid()
    {
        grid.Reset(true);
        await LoadData(ultimoFiltro);
        TotalHorasDoPeriodo();
    }

    async Task ProcessaFile(InputFileChangeEventArgs files)
    {

        InvokeAsync(async () =>
        {
            await FilesReady(files);
            DialogServiceRad.Close();
        });
        await BusyDialog();
    }

    async Task FilesReady(InputFileChangeEventArgs e)
    {
        string extensao = string.Empty;

        var entries = e.GetMultipleFiles();
        var file = entries.FirstOrDefault();
        extensao = file.Name.Substring(file.Name.IndexOf("."), file.Name.Length - file.Name.IndexOf("."));

        if (!extensao.Equals(".txt"))
        {
            await JSRuntime.InvokeVoidAsync("alert", "Arquivo selecionado não é um arquivo válido!");
            return;
        }
        else
        {
            listAlert.Add($"Nome: {file.Name} - Tamanho: {file.Size}");
        }

        var ms = new MemoryStream();

        await e.File.OpenReadStream().CopyToAsync(ms);

        StreamReader sr = new StreamReader(ms);

        ms.Position = 0;

        List<string> lista = new List<string>();

        string sline = "";

        while (sline != null)
        {
            sline = sr.ReadLine();
            if (sline != "")
            {
                lista.Add(sline);
            }
        }
        //U{5}P{12}D{2}M{2}A{4}H{2}N{2}

        foreach (var item in lista)
        {
            if (item!=null)
            {
                string cod = item.Substring(0, 5);
                string cpf = item.Substring(5, 12);
                string dia = item.Substring(17, 2);
                string mes = item.Substring(19, 2);
                string ano = item.Substring(21, 4);
                string hh = item.Substring(25, 2);
                string mm = item.Substring(27, 2);

                string sData = $"{dia}/{mes}/{ano} {hh}:{mm}";

                RegistroRelogio reg = new RegistroRelogio();

                reg.CodColaborador = Convert.ToInt32(cod);
                reg.Colaborador = await cs.GetColaboradorByIdPonto(Convert.ToInt32(cod));
                reg.Cpf = cpf;
                reg.Data = Convert.ToDateTime(sData, Cultura);
                ListRegPonto.Add(reg);
            }
        }
        await ProcessaPontos();
        ResetGrid();
    }

    void TotalHorasDoPeriodo()
    {
        long soma = filtroPontosProcessados.Sum<RegistroPonto>(i => i.TotalHorasDia.Ticks);
        TimeSpan time = TimeSpan.FromTicks(soma);
        TotalHorasTrabalhadas(time);
    }


    async Task ProcessaPontos()
    {

        if (idSelectd != Guid.Empty)
        {
            Data.Colaborador colab = await cs.GetColaboradorById(idSelectd);

            var filtro = ListRegPonto.Where(x => x.Colaborador.Id.Equals(colab.Id) && x.Data >= Data1 && x.Data <= DataMais1).GroupBy(i => i.Data.ToShortDateString()).ToArray();
            var filtro3 = ListRegPonto.Where(x => x.Colaborador.Id.Equals(colab.Id) && x.Data >= Data1 && x.Data <= DataMais1).GroupBy(i => i.Data).Select(x => new {Value = x.Count(), Data=(DateTime)x.Key }).ToArray();

            foreach (var item in filtro)
            {
                //await JSRuntime.InvokeVoidAsync("console.log", "teste", item);
                RegistroPonto ponto = new RegistroPonto();
                ponto.Data = Convert.ToDateTime(item.Key);
                ponto.Colaborador = colab;
                //ponto.ColaboradorId = colab.Id;
                foreach (var i in item)
                {
                    ponto.AddHora(i.Data);
                    //await JSRuntime.InvokeVoidAsync("console.log", "teste", i);
                }
               if (rps.ValidaPontoExiste(ponto))
                {
                    rps.AddRecord(ponto);
                }
            }
            rps.ContextSaveCharges();
        }
        else
        {
            var filtro = ListRegPonto.GroupBy(i=>i.Data.ToShortDateString()).ToList();

            foreach (var item in filtro)
            {
                var colaboradores = item.GroupBy(i => i.Colaborador).ToList();

                foreach (var colab in colaboradores)
                {
                    //await JSRuntime.InvokeVoidAsync("console.log", "todos", item);
                    RegistroPonto ponto = new RegistroPonto();
                    ponto.Data = Convert.ToDateTime(item.Key);
                    ponto.Colaborador = colab.FirstOrDefault().Colaborador;
                    //ponto.ColaboradorId = colab.FirstOrDefault().Id;
                    foreach (var i in colab)
                    {
                        ponto.AddHora(i.Data);
                        //await JSRuntime.InvokeVoidAsync("console.log", "teste", i);
                    }
                    if (!rps.ValidaPontoExiste(ponto))
                    {
                        rps.AddRecord(ponto);
                    }
                }
            }
            rps.ContextSaveCharges();
        }
    }

    public void Print()
    {
        JSRuntime.InvokeVoidAsync("console.log", "Impressão da DivPrint");
        JSRuntime.InvokeVoidAsync("Print");
    }

    void SelectionChangedEvent(object reg)
    {   
        if(reg !=null)
        {
            if (((RegistroPonto)reg).TotalHorasDia.TotalHours < 0)
            {
                regPonto = (RegistroPonto)reg;
                this.StateHasChanged();
                dialogIsOpen = true;
            }
        }
    }

    void SelectionChangedEvent(DataGridRowMouseEventArgs<Data.RegistroPonto> reg)
    {
        if(reg !=null)
        {
            if (((RegistroPonto)reg.Data).TotalHorasDia.TotalHours < 0)
            {
                regPonto = (RegistroPonto)reg.Data;
                this.StateHasChanged();
                dialogIsOpen = true;
            }
        }
    }

    public async void OpenRegistroPonto(DataGridRowMouseEventArgs<Data.RegistroPonto> reg)
    {
        RegistroPonto registro = (RegistroPonto)reg.Data;

        if (registro.TotalHorasDia.Ticks > 0)
        {
            OpenDialogModal("Atenção", "registros positivos não podem ser editados");
        }
        else
        {
            var parameters = new MudBlazor.DialogParameters() { ["registroPontoGuid"] = registro.Id };
            var dialog = MudDialogService.Show<EditaHoraPontoComponent>("Editar Ponto", parameters);
            var result = await dialog.Result;

            if (!result.Cancelled)
            {
                OpenDialogModal("Atualizado", "Registro atualizado!");
            }
        }
    }


    void OnChange(DateTime? value, string name, string format)
    {
        JSRuntime.InvokeAsync<object>("console.log", $"{name} value changed to {value?.ToString(format)}");
    }


    async Task Success()
    {
        await JSRuntime.InvokeAsync<object>("alert", "Successful login!");
    }


    public async void FiltroPontoProcessados()
    {
        filtroPontosProcessados = await rps.GetAllRegistroPontoByIdData(idSelectd, Data1, DataMais1);
        TotalHorasDoPeriodo();
    }

    async Task FilesReady2(string files)
    {
        await JSRuntime.InvokeVoidAsync("console.log", "teste", files);
    }


    private void UploadFiles(InputFileChangeEventArgs e)
    {
        var entries = e.GetMultipleFiles();
    }


    async Task BusyDialog()
    {
        await DialogServiceRad.OpenAsync("", ds =>
            @<div>
                <div class="row">
                    <div class="col-md-12">
                        Processando arquivo...
                    </div>
                </div>
    </div>
    , new Radzen.DialogOptions() { ShowTitle = false, Style = "min-height:auto;min-width:auto;width:auto" });
    }


}