@page "/Unidade"

@using System.Timers
@using BlazorServer.Service
@using BlazorServer.Data
@using System.ComponentModel.DataAnnotations
@using System.IO
@using System.Net.Http.Headers
@using System.Linq.Dynamic.Core
@inject MudBlazor.DialogService DialogService
@implements IDisposable
@inherits OwningComponentBase<UnidadeService>


<div class="container">
    <br />
    <MudFab Color="Color.Primary" Icon="@Icons.Material.Filled.Add" aria-label="Adicionar" OnClick="@NovaUnidade" />
    <br />
    <br />
    <div class="row">
        <RadzenFieldset Text="Cadastro de Unidades">
        <RadzenDataGrid IsLoading="@isLoading" Count="@count" Data="@_Unidades" TItem="Data.Unidade" LoadData="@LoadData" RowDoubleClick="@(args=> OpenUnidades(args))"
                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced" AllowSorting="true" AllowFiltering="true" @ref="grid">
            <Columns>
                @*<RadzenDataGridColumn TItem="Colaborador" Property="Id" Filterable="false" Title="ID" Frozen="true" Width="50px" TextAlign="TextAlign.Center" />*@
                <RadzenDataGridColumn TItem="Data.Unidade" Property="Nome" Title="Nome." Frozen="false" Width="220px" />
                <RadzenDataGridColumn TItem="Data.Unidade" Property="RazaoSocial" Title="Razao" Width="220px" />
                <RadzenDataGridColumn TItem="Data.Unidade" Property="CNPJ" Title="CNPJ" Width="120px" />
                <RadzenDataGridColumn TItem="Data.Unidade" Property="Cidade" Title="Cidade" Width="120px" />
                <RadzenDataGridColumn TItem="Data.Unidade" Property="Cidade" Title="Alterecao" Width="80px">
                    <Template>
                        <MudIconButton Icon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" OnClick="@(()=>Editar(context.Id))"></MudIconButton>
                        <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" OnClick="@(()=>Apagar(context))"></MudIconButton>
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
        </RadzenFieldset>
    </div>
</div>


@code {

    [Inject] private MudBlazor.IDialogService DialogServiceMud { get; set; }

    RadzenDataGrid<Data.Unidade> grid;

    IEnumerable<Data.Unidade> _Unidades;

    bool isLoading;

    int count;

    public Data.Unidade UnidadeObj;

    protected override void OnInitialized()
    {
        _Unidades = Service.GetUnidadesList();
        LoadData(null);
    }

    void NovaUnidade()
    {
        Editar(Guid.Empty);
        ResetGrid();
    }

    async void Apagar(Unidade unidade)
    {
        bool? result = await DialogServiceMud.ShowMessageBox("Atencao!", "Deseja apagar o registro ?", yesText: "Sim", cancelText: "Nao");
        if (result == true)
        {
            Service.DeleteRecor(unidade);
        }
        ResetGrid();
    }

    async void Editar(Guid id)
    {
        MudBlazor.DialogOptions opt = new MudBlazor.DialogOptions()
        {
            //MaxWidth = MaxWidth.False,
            //NoHeader = false,
            CloseButton = true
        };

        var dialog = DialogServiceMud.Show<UnidadeDetails>("Cadastro de Cargo", new DialogParameters() { ["UnidadeId"] = id }, opt);
        var result = await dialog.Result;
        StateHasChanged();
        ResetGrid();

    }

    async Task LoadData(LoadDataArgs args)
    {
        isLoading = true;

        var query = Service.GetUnidadesList().AsQueryable();

        _Unidades = query;

        if (args != null)
        {
            if (!string.IsNullOrEmpty(args.Filter))
            {
                // Filter via the Where method
                query = query.Where(args.Filter);
            }

            if (!string.IsNullOrEmpty(args.OrderBy))
            {
                // Sort via the OrderBy method
                query = query.OrderBy(args.OrderBy);
            }
            if (args.Skip > 0)
            {
                // Perform paginv via Skip and Take.
                _Unidades = query.Skip(args.Skip.Value).Take(args.Top.Value).ToList();
            }
            _Unidades = query;
            // Important!!! Make sure the Count property of RadzenDataGrid is set.
            count = query.Count();
        }
        count = _Unidades.Count();
        isLoading = false;
    }


    void OpenUnidades(DataGridRowMouseEventArgs<Data.Unidade> args)
    {
    }

    async void ResetGrid()
    {
        grid.Reset(true);
        grid.Reload();
        await grid.FirstPage(true);
        _Unidades = Service.GetUnidadesList().AsQueryable();
    }

}
