@page "/Feriado"

@using MudBlazor
@inherits OwningComponentBase<ServiceFeriado>

<div class="container">
    <div class="row">
            <div class="col-md-4">
                <div>
                    <input type="month" id="month" />
                </div>
                <MudDatePicker PickerVariant="PickerVariant.Static" Date="@(DateTime.Today.AddDays(1))" />
            </div>
            <div class="col-md-8">
                    <div class="row">
                        <MudTable Items="@_listaFeriado" OnRowClick="@SelecionaFeriado" T="Feriado" Hover="true">
                            <HeaderContent>
                                <MudTh>Data</MudTh>
                                <MudTh>Descrição</MudTh> @*Style="text-align:center"*@
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd DataLabel="Data">@context.DataFeriado.Value.ToString("dd/MM/yyyy")</MudTd>
                                <MudTd DataLabel="Descricao">@context.Descricao</MudTd> @*Style="text-align:right"*@
                            </RowTemplate>
                            <PagerContent>
                                <MudTablePager />
                            </PagerContent>
                        </MudTable>
                    </div>
            </div>
    </div>
</div>



@code
{
    Feriado feriado = new Feriado();
    DateTime? data1 = DateTime.Today;

    List<Feriado> _listaFeriado;

    protected override void OnInitialized()
    {
        _listaFeriado = Service.GetFeriadoDoMes(DateTime.Now);
    }

    void SelecionaFeriado(TableRowClickEventArgs<Feriado> tableRowClickEventArgs)
    {
        feriado = tableRowClickEventArgs.Item;
        data1 = feriado.DataFeriado;
    }

    void NovoItem()
    {
        feriado = new Feriado();
    }

    void ExcluirItem()
    {
        Service.ExcluiFeriado(feriado);
    }

    void SalvarItem()
    {
        Service.UpdateFeriado(feriado);
    }


}
